<h1>Index List</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<br>
<%= cl_image_tag("axbggbeefhdmxeeyeaxp",
      width: 300, height: 300, crop: :fill) %>

<%= cl_image_tag("ouayrnzkbqwtosz7ndrm",
      width: 300, height: 300, crop: :fill) %>

<%= cl_image_tag("pmm8imonbt1f4jehq7pz",
      width: 300, height: 300, crop: :fill) %>

<%= cl_image_tag("v3gfzktkn0yoeaunx4wf",
      width: 300, height: 300, crop: :fill) %>

<br>
<%= link_to "Create List", new_list_path %>
