<h1>Show</h1>

<%=@list.name%>

<br>
<%= link_to "bookmarks", new_list_bookmark_path(@list)%>

<br>
<%= link_to "Delete list",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<br>
<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= bookmark.movie.rating %>
  <%= bookmark.movie.poster_url %>
  <%= bookmark.comment %>
  <%= link_to "Delete bookmark",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>

<br>
<% @list.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
<% end %>

<p> <%= link_to 'Back to Lists', lists_path%> </p>
